build/
x64/
Debug/
Release/
logs/
Client/packs/
Client/game/
Client/unpack/res/characters/
Client/unpack/res/environments/
Client/unpack/res/helpers/
Client/unpack/res/materials/
Client/unpack/res/models/
Client/unpack/res/particles/
Client/unpack/res/shaders/
Client/unpack/res/ShaderTex/
Client/unpack/res/spaces/
Client/unpack/res/speedtree/
Client/unpack/res/system/
Client/unpack/res/textures/
Client/unpack/res/weather/
BW/
Server/bin/

.vs/
.idea/
*.user
*.suo
*.VC.db
*.opendb
*.so
*.exe